<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Styles</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/csstyles.css">
</head>
    <body>
        <nav>
            <ul class="menu">
                <li><a href="menu"> Menu</a></li>
                <li><a href="about">About NaturalKid.co.uk</a></li>
                <li><a href="how">How it Works</a></li>
                <li><a href="baby">Baby Boxes</a></li>
                <li><a href="Mum">Mum Boxes</a></li>
                <li><a href="nbox">The N-Box</a></li>
                <li><a href="nbox">Contacts</a></li>
            </ul>
        </nav>
         <div class="homepagecontent">
             <h1>Your Healthy Place to Nurture and Grow Your Children Naturally</h1>
             <h2>Organic and healthy food + personal care products in a box delivered at your door.</h2>
             <div class="learnmore">
                 Name:<input type="text" name="name"> Email:<input type="email" name="email">
                 <button type="button">Yes, I want to learn more.</button>
            </div>
         </div>
    </body>
</html>