.subscribe-box{
 width: 100%;
 text-align: center;

  .gender-content {
    display: block;
  }
}

.subscription{
  margin-top:100px;
}


.radio-elements {
  display: inline-block;
  vertical-align: middle;

  input {
    margin-top: 0px;
  }




}