body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

nav {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
}


li {
    display: inline;
    padding-top: 0px;
    list-style-type: none;
    width: 100%;
    text-align: center;
}


.menu li a {
    background-color: #E9DC51;
    color: lightcoral;
    padding: 10px 20px;
    width: 100%;
    overflow: hidden;
    text-decoration: none;


}

.menu li a:hover{
    background-color: darkorange;
    color: white;
    font-size: large;
}

.homepagecontent {
    background-color: #86C7EE;
    padding-top: 100px;
    padding-bottom: 100px;
}


h1 {
    margin-top: 30px;
    text-align: center;
}

h2 {
    margin-top: 30px;
    text-align: center;
}

.learnmore{
    text-align: center;
    text-align: center;

    }